html {
  font-size: 14px;
  
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Allerta Stencil', sans-serif;
    color:aqua;
    background-color: black;
    
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
